$header-topbar-bg: #864343;
$header-bg: #723636;
$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;
$primary: #d58e32;
$text-color: #2a2a2a;
$background-border: #2a2a2a;
$form-border-color: #292929;
$grey-color: #bdc3c7;
$font-button-color: #495057;
$black-color: #1e272e;
$white-color: #fff;
$gallery-price: #79ae30;