<div class="section-markup">
  <div class="container">
    <div class="row">
      <div class="wrapper">
        <div class="box">
          <img src="https://via.placeholder.com/400x400.png/09f/fff" />
        </div>
        <div class="box">
          <div class="right">
            <img src="https://via.placeholder.com/550x195/09f.png/fff" />
          </div>
          <div class="right">
            <img src="https://via.placeholder.com/550x195/09f.png/fff" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
