<div class="section-brands">
  <div class="container boxbrands">
    <div class="line"></div>
    <button class="arrow">&lt;</button>
    <img class="brandimg" src="https://i.ibb.co/k15rKLW/Layer-138-2x.png" />
    <img class="brandimg" src="https://i.ibb.co/k15rKLW/Layer-138-2x.png" />
    <img class="brandimg" src="https://i.ibb.co/k15rKLW/Layer-138-2x.png" />
    <img class="brandimg" src="https://i.ibb.co/k15rKLW/Layer-138-2x.png" />
    <img class="brandimg" src="https://i.ibb.co/k15rKLW/Layer-138-2x.png" />
    <img class="brandimg" src="https://i.ibb.co/k15rKLW/Layer-138-2x.png" />
    <button class="arrow">&gt;</button>
    <div class="line"></div>
  </div>
</div>
